* {
    box-sizing: border-box;
}

.container {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 2.5%;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    background: linear-gradient(-45deg, #b0dfe8, #dde7e9, #11cfcf);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
<<<<<<< HEAD
<<<<<<< HEAD
    justify-content: center;
=======
    justify-content: center
>>>>>>> dece8f7 (MM: create account page created and view needs to be modified)
=======
    justify-content: center;
>>>>>>> 10a4af1 (first rebase)
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 70px;
}

.title {
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
    color: black;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> dece8f7 (MM: create account page created and view needs to be modified)
=======
>>>>>>> 10a4af1 (first rebase)
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b3b6f;
    padding: 30px;
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-top: 40px;
}

.logo {
    aspect-ratio: 1/1;
    height: 150px;
    width: auto;
    position: absolute;
    top: 0;
    left: 30%;
    transform: translateY(-50%);
    z-index: 1;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> dece8f7 (MM: create account page created and view needs to be modified)
=======
>>>>>>> 10a4af1 (first rebase)
.form-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form-container label {
    font-size: 14pt;
    font-family: 'Pirata';
<<<<<<< HEAD
<<<<<<< HEAD
    color: #c3e0e5;
    margin-bottom: 10px;
}

.form-container input[type='text'],
.form-container input[type='password'],
.form-container input[type='password-confirmation'] {
=======
    color: #C3E0E5;
    margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="password-confirmation"] {
>>>>>>> dece8f7 (MM: create account page created and view needs to be modified)
=======
    color: #c3e0e5;
    margin-bottom: 10px;
}

.form-container input[type='text'],
.form-container input[type='password'],
.form-container input[type='password-confirmation'] {
>>>>>>> 10a4af1 (first rebase)
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-size: 14pt;
    font-family: 'Pirata';
    color: black;
    margin-bottom: 10px;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 10a4af1 (first rebase)
.error-tooltip {
    white-space: pre-line;
}

<<<<<<< HEAD
.form-container a {
    font-size: 12pt;
    font-family: 'Pirata';
    color: #c3e0e5;
    text-decoration: none;
}

.form-container input[type='submit'] {
    width: 100%;
    padding: 10px;
    background-color: #c3e0e5;
=======
=======
>>>>>>> 10a4af1 (first rebase)
.form-container a {
    font-size: 12pt;
    font-family: 'Pirata';
    color: #c3e0e5;
    text-decoration: none;
}

.form-container input[type='submit'] {
    width: 100%;
    padding: 10px;
<<<<<<< HEAD
    background-color: #C3E0E5;
>>>>>>> dece8f7 (MM: create account page created and view needs to be modified)
=======
    background-color: #c3e0e5;
>>>>>>> 10a4af1 (first rebase)
    border: none;
    border-radius: 4px;
    font-size: 14pt;
    font-family: 'Pirata';
    color: black;
    cursor: pointer;
    margin-bottom: 10px;
}

.form-container .or {
    font-size: 14pt;
    font-family: 'Pirata';
<<<<<<< HEAD
<<<<<<< HEAD
    color: #c3e0e5;
=======
    color: #C3E0E5;
>>>>>>> dece8f7 (MM: create account page created and view needs to be modified)
=======
    color: #c3e0e5;
>>>>>>> 10a4af1 (first rebase)
    text-align: left;
}

.text {
    font-size: 14pt;
    font-family: 'Pirata';
<<<<<<< HEAD
<<<<<<< HEAD
    color: #c3e0e5;
=======
    color: #C3E0E5;
>>>>>>> dece8f7 (MM: create account page created and view needs to be modified)
=======
    color: #c3e0e5;
>>>>>>> 10a4af1 (first rebase)
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

<<<<<<< HEAD
<<<<<<< HEAD
h1 {
    font-size: 80pt;
=======
.form-container .social-media {
    display: flex;
    justify-content: center;
}

.form-container .social-media a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.form-container .social-media a:hover {
    background-color: #f2f2f2;
    transform: scale(1.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-container .social-media a img {
    width: 25px;
    height: 25px;
}

.credits {
    display: flex;
    flex-direction: row;
    width: 80%;
    font-family: Pirata;
    height: 10px;
    font-size: 15pt;
    justify-self: center;
    justify-content: space-between;
    color: black;
}

//inspired code written by Shireen Taj on https://codepen.io/TajShireen/pen/xxGPEEp

h1 {
    font-size: 100pt;
>>>>>>> dece8f7 (MM: create account page created and view needs to be modified)
=======
h1 {
    font-size: 80pt;
>>>>>>> 10a4af1 (first rebase)
    font-family: 'Pirata';
    color: black;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0;
    position: relative;
    border-color: black;
}

h2 {
<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 40pt;
=======
    font-size: 50pt;
>>>>>>> dece8f7 (MM: create account page created and view needs to be modified)
=======
    font-size: 40pt;
>>>>>>> 10a4af1 (first rebase)
    font-family: 'Pirata';
    color: black;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0;
    position: relative;
    border-color: black;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 10a4af1 (first rebase)
}

mat-error {
    color: red;
}
<<<<<<< HEAD
=======
}
>>>>>>> dece8f7 (MM: create account page created and view needs to be modified)
=======
>>>>>>> 10a4af1 (first rebase)
