<app-page-base-component>
    <div class="container">
        <div class="sub-container top-container">
            <p class="team-number">#{{ getTeamNumber() }}</p>
            <app-button icon="settings" link="/config" class="config">CONFIGURATION</app-button>
        </div>

        <div class="sub-container title-logo-container">
            <h1 class="title" data-text="SPOT SEVEN">SPOT<br />SEVEN</h1>
            <img src="./assets/logo/logo.png" alt="logo" class="logo" />
        </div>

        <div class="sub-container buttons-container">
            <app-button icon="star" link="/selection">MODE CLASSIQUE</app-button>

            <app-button icon="timer" link="/time-limited-selection">MODE TEMPS LIMITÉ</app-button>
        </div>
    </div>
    <div class="horizontal">
        <p *ngFor="let member of getTeamMembers()">{{ member.name }}</p>
    </div>
</app-page-base-component>