# DEFAULT CONFIGURATION FOR DEVELOPMENT
DB_HOST=db # docker-compose service name if not in docker compose use localhost
DB_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=changeme
DB_NAME=spot_seven # if db_name is changed, change it too in init/create-db.sql
DB_SYNC=false # can reset the database
JWT_SECRET=changeme # Better if generated with openssl rand -hex 32
