<app-page-base-component>
    <div class="container">
        <div class="top-container">
            <h1 class="title" data-text="SPOT SEVEN">SPOT SEVEN</h1>
            <h2>Connexion</h2>
        </div>
        <div class="form-container">
            <img src="./assets/logo/logo.png" alt="logo" class="logo" />
            <form class="form-field" [formGroup]="logInForm" (ngSubmit)="onSubmit()">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" formControlName="username">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" formControlName="password">
                <a class="password-reset" href="#">Mot de passe oublié ?</a>
                <input type="submit" value="SE CONNECTER" [disabled]="!logInForm.valid">
            </form>
            <div class="text">Ou se connecter avec :</div>
            <div class="social-media">
                <asl-google-signin-button type='icon' shape="circle" size='large'></asl-google-signin-button>
            </div>
        </div>
    </div>
    <div class="credits">
        <p *ngFor="let member of getTeamMembers()">{{ member.name }}</p>
    </div>
</app-page-base-component>