<div class="container">
    <div class="sub-container">
        <h1 class="name">{{ game.name }}</h1>
        <h3 class="diff">{{ difficulty }}</h3>
    </div>

    <div class="sub-container">
        <img src="{{ image }}" alt="Image du jeu" class="image" />
        <app-leaderboard [game]="game"></app-leaderboard>
    </div>

    <div class="sub-container" *ngIf="isConfig">
        <button mat-raised-button class="button" (click)="deleteGame()">Supprimer le jeu</button>
        <button mat-raised-button class="button" (click)="reinitializeScores()">Réinitialiser les scores</button>
    </div>
    <div class="sub-container" *ngIf="!isConfig">
        <button mat-raised-button class="button" (click)="createSoloGame()">Jouer une partie solo</button>
        <button mat-raised-button class="button" (click)="startMultiplayerGame()"
            *ngIf="sheetState === sheetStates.Creatable">Créer une partie duel</button>
        <button mat-raised-button class="button" (click)="startMultiplayerGame()"
            *ngIf="sheetState === sheetStates.Joinable">Joindre une partie duel</button>
    </div>
</div>