.background {
    position: static;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-box {
    width: fit-content;
    height: fit-content;
}

.container {
    height: auto;
    width: auto;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    scale: 80%;
}

.sub-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: fit-content;
    background-color: #C3E0E5;
    border-radius: 10px;
    padding: 10px;
}

.image-areas {
    padding: 15px;
    background-color: #C3E0E5;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Pirata;

}

.paint-tools {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quit {
    scale: 50%;
}

.validation {
    font-family: Pirata;
    background-color: #6d90b2;
    margin: 5px;
}

.validation:hover {
    background-color: #6987a4;
    scale: 110%;
}

.buttons {
    display: flex;
    flex-direction: row;
    font-family: Pirata;
    vertical-align: top;
}

.container p.warning {
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.title {
    font-family: Pirata;
    font-size: 90px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}