<div mat-dialog-content>
    <p>Il y a {{ data.imageInfo.differencesCount }} différences.</p>
    <canvas #imageCanvas [attr.width]="width" [attr.height]="heigth"></canvas>
    <div *ngIf="data.imageInfo.valid">
        <p>Donnez un nom au jeu</p>
        <mat-form-field appearance="fill">
            <mat-label>Nom du jeu</mat-label>
            <input matInput [formControl]="gameNameFormControl">
        </mat-form-field>
    </div>
    <p *ngIf="!data.imageInfo.valid">Il faut entre 3 et 9 différences.</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="handleCloseClick()">Modifier les images</button>
    <button *ngIf="data.imageInfo.valid" type="submit" [disabled]="gameNameFormControl.invalid" mat-button
        (click)="handleCreateGameClick()">Créer le jeu</button>
</div>
