.event-display {
    overflow-y: scroll;
    height: 450px;
    hyphens: auto;
  }
  
  .write {
    height: 80px;
    font-family: Pirata;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .event-display,
  .write {
    width: 85%;
    padding: 20px;
    background-color: #DDEBED;
    border-radius: 10px;
  }
  
  .field {
    margin: auto 0;
  }
  
  .chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  :host {
    width: 100%;
  }
