<div class="chat">
    <div #messagesDiv class="event-display">
        <app-message #messagesList [message]="message" *ngFor="let message of messageService.messages; trackBy: getMessageTime">
        </app-message>
    </div>
    <div class="write" *ngIf="canSendMessage()">
        <form class="field">
            <fieldset>
                <legend>Écrivez-ici:</legend>
                <input type="text" maxlength="200" (keyup)="onKeyUp($event)">
            </fieldset>
        </form>
    </div>
</div>
